{% extends 'base.html' %}

{% block content %}
	<div class="hello-form">
		<div class="hello-form">
			<form action="/" method="post" class="form" role="form">
				<div class="form-group required">
					<label class="form-control-label" for="name">Name</label>
					<input class="form-control" id="name" name="name" required type="text" value="">
				</div>
				<div class="form-group required">
					<label class="form-control-label" for="body">Message</label>
					<textarea class="form-control" id="body" name="body" required></textarea>
				</div>
				<input class="btn btn-primary btn-md" id="submit" name="submit" type="submit" value="Submit">
			</form>
		</div>
	</div>
	<h5>{{ messages|length }} messages
		<small class="float-right">
			<a href="#bottom" title="Go Bottom">&darr;</a>
		</small>
	</h5>
	<div class="list-group">
		{% for message in messages %}
			<a class="list-group-item list-group-item-action flex-column">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1 text-success">{{ message.name }}</h5>
					<small>
						{{ message.created }}
					</small>
				</div>
				<p class="mb-1">{{ message.body }}</p>
			</a>
		{% endfor %}
	</div>
{% endblock %}
